@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400;900&family=Ubuntu:wght@300;400;700&display=swap');

/* Variáveis */
:root {
  --cor-principal: #ff4c68;
  --cor-secundaria: #ef8172;
}

/* Global */
body {
  font-family: Montserrat, sans-serif;
}

/* Seção de Título */
#title {
  background-color: var(--cor-principal);
}

#title a.navbar-brand {
  font-family: Ubuntu, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
}

h1 {
  font-size: 3.5rem;
  line-height: 1.6;
  font-weight: 900;
  color: #fff;
}

.container-fluid .row {
  /* height: 100vh; */
  padding: 3% 10%;
}

#title .row img {
  transform: rotate(25deg);
  width: 60%;
  position: relative;
}

.navbar .nav-item a.nav-link {
  font-size: 1.2rem;
  font-weight: 400;
  color: #fff;
}

/* Seção de Funcionalidades */
#features {
  background-color: #fff;
  padding: 7% 15%;
  position: relative;
}

#features i {
  color: var(--cor-secundaria);
}

#features i:hover {
  color: var(--cor-principal);
}

#features h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

#feature p {
  color: #8f8f8f;
}

/* Seção de Depoimentos */

#testimonials {
  background-color: var(--cor-secundaria);
  color: #fff;
}

#testimonials h2 {
  font-size: 3rem;
  font-weight: 600;
}

#testimonials img {
  width: 10%;
}

#testimonials .carousel-item {
  padding: 7% 15%;
}

/* Seção de Imprensa/Créditos */
#press {
  background-color: var(--cor-secundaria);
}

#press .press-logo {
  width: 15%;
}

/* Seção de Preços */
#pricing {
  padding: 7% 15%;
}

#pricing > h2,
#cta h3 {
  font-size: 3rem;
  font-weight: 600;
}

#cta {
  text-align: center;
  background-color: var(--cor-principal);
  color: #fff;
  padding: 7% 15%;
}

#footer {
  background-color: #fff;
  text-align: center;
  padding: 3% 15%;
}

#footer .icons .footer-icons {
  font-size: 24px;
  color: #000;
}

/* Media Queries */
@media screen and (max-width: 1200px) {
  #title {
    position: static;
    text-align: center;
  }

  #title .row img {
    transform: rotate(0deg);
    margin-top: 5%;
  }

  #features {
    position: static;
  }
}